<div class="container" style="text-align:center;">
  <div class="title">
    <h1>Monthly Open Mic Night</h1>
      <h3 class="date">Join us on the 9th of September for our Open Mic Night at the Luus Muus in Egg</h3>
  </div>
  <div class="information">
    <div class="rules">
      <h3>Rules for performers</h3>
      <h5>3 songs per set</h5>
      <h5>1 set per performer</h5>
      <h5>Musicians arrive 6:30pm</h5>
      <h5>Event is 7-10pm</h5>
      <h5>Original music especially encouraged</h5>
    </div>

    <div class="benefits">
      <h3>Benefits</h3>
      <h5>One free drink</h5>
      <h5>50% off food & drinks</h5>
      </div>
  </div>

  <div class="cta">
    <h3>Sign up to join the line up on the 9th of September</h3>
  </div>

  <div class="btnIndex">
    <%= link_to "Sign Up", posts_path, class: "btn-primary btn btn-lg"%>
  </div>
</div>
