<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new post from:
     <%= @post.name %>
     </p>
    <p>
    Post details<br>
    --------------------------
    </p>
    <p>Created at: <%= @post.created_at %></p>
    <p>Instrument: <%= @post.instrument %></p>
    <p>Genre: <%= @post.genre %></p>
    <p>

  </body>
</html>
