// devise Log In

#btnLog {
  margin-top: 2em;
}

.field {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
}

// sign up

.titleDevise {
  h1 {
    font-size: 3em;
    font-weight: 600;
    color: antiquewhite;
  }
}

// links
.btnForgot {
  margin-top: 4.5em;
}

.btnSign {
  margin-top: 1.5em;
}
