<div>
  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Instrument:</strong>
    <%= post.instrument %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= post.genre %>
  </p>
</div>

<%# id="<%= dom_id post %>
