<div class="container">
  <div class="titlepost">
    <h1>Edit Submission</h1>
  </div>

  <div class="editForm">
    <%= render "form", post: @post %>
  </div>

  <br>

  <div>
    <%= link_to "View Submission", @post, class: "btn btn-primary backBtn" %> |
    <%= link_to "Back to SignUp List", posts_path, class: "btn btn-light backBtn" %>
  </div>
</div>
