<div class="container">

  <div class="titlepost">
    <h1>New Registration</h1>
  </div>

  <div class="newForm">
    <%= render "form", post: @post %>
  </div>
  <br>

  <div>
    <%= link_to "Back to List", posts_path, class: "btn btn-light backBtn" %>
  </div>
</div>
